<main>
  <section class="admin-section">
    <div class="row">
      <div class="column">
        <div>
          <h1 class="h1">BLKY Pets</h1>
        </div>
        <div>
          <h3 class="h3">Accesorios para mascotas.</h3>
        </div>
      </div>
    </div>

    <div class="row dark">
      <div class="admin-column admin-panel">
        <div class="row">
          <h2 class="h2 h2-margin">Panel de administrador</h2>
        </div>

        <div class="row admin-panel-info">
          <div class="admin-row">
            <div class="label-row">
              <p class="info-label">Nombre:</p>
              <p class="info-data">{{this.first_name}}</p>
            </div>
            <div class="label-row">
              <p class="info-label">Edad:</p>
              <p class="info-data">{{this.age}}</p>
            </div>
            <div class="label-row">
              <p class="info-label">Correo electrónico:</p>
              <p class="info-data">{{this.email}}</p>
            </div>
            <div class="label-row">
              <p class="info-label">Rol:</p>
              <p class="info-data">{{this.role}}</p>
            </div>
          </div>
          <form action="/api/v1/sessions/logout" method="get">
            <div class="row btn-container">
              <button class="btn btn-remove" type="submit">Cerrar sesión</button>
            </div>
          </form>
        </div>

        <div class="row dark">
          <div class="admin-column">
            <div class="row">
              <h2 class="h2 h2-margin">Lista de usuarios</h2>
            </div>
            <div class="card-section">
              {{#each users}}
                <div class="card-container">
                  <div class="card">
                    <h4 class="h4">{{this.role}}</h4>
                    <h3 class="h3">{{this.name}}</h3>
                    <p class="card-p">{{this.last_connection}}</p>
                    <p class="card-p">{{this.email}}</p>
                    <div class="card-btn-container">
                      <button
                        class="btn btn-submit modify-user"
                        data-user-id="{{this.id}}"
                      >Modificar</button>
                    </div>
                  </div>
                </div>
              {{/each}}
              <div class="btn-container">
                <button class="btn btn-remove remove-user">Eliminar inactivos</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<script src="/js/index.js"></script>